# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\NIEK\Aerospace Engineering\Master\4th year\AE4441-16 Operations Optimisation\Gate_planning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
